@import "../variables";

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0em;
  width: 100%;
  border-radius: 4px;
  background-image: linear-gradient(30deg, $pink-50, $pink-900);
  font-size: 3em;
  line-height: 2;
}

.info {
  color: $grey-200;
}
